<div class="center hero-unit">
<h1>Welcome to VanquishAP!</h1>
<p>
  You've found the home page for the
  <%= link_to "APS", "http://aps.vanquishap.com" %> application.
</p>
<p>
  <%= link_to 'Free Progression!', new_user_registration_path, class: "btn btn-large btn-primary" %>
</p>
</div>







